.main__letter
  %p.main__letter__name 
    = message.user.name
  %p.main__letter__date 
    = message.created_at
  %p.main__letter__message 
  - if message.body.present?
    = message.body
  = image_tag message.image.url if message.image.present?