.main__contents__letter{data: {id:  message.id}}  
  %p.main__contents__letter__name 
    = message.user.name
  %p.main__contents__letter__date 
    = message.created_at.strftime("%Y-%m-%d %H:%M")
  %p.main__contents__letter__message 
  - if message.body.present?
    = message.body
  = image_tag message.image.url, class: 'main__letter___image-tag'  if message.image.present?