.sidebar
  .sidebar__top
    %p #{current_user.name}
    = link_to new_group_path do
      %i.fa.fa-edit
    = link_to edit_user_path(current_user) do
      %i.fa.fa-cog
  = render partial: "messages/sidebar__main"       
-# .main
-#   .main__top
-#     %h2 sample-group
-#     %p Menber : sou
-#     -# =link_to  do
-#     .main__top__button Edit 
-#   .main__foot
-#     .main__foot__container
-#       %input.main__foot__container__message{placeholder: "type a message"}
-#       %label.main__foot__container__label
-#         %i.fa.fa-image.fa-lg
-#         %input.main__foot__container__label__file{type: "file"}
-#     %input.main__foot__button{type: "submit", value: "Send"}